* {
  font-family: "Noto Sans", "Droid Sans", sans-serif;
  margin: 0;
}
#header, #main_region {
  padding: 0;
}
#logobox, #header_main, #sub_nav, #main_display {
  display: inline-block;
}
#header {
  margin-bottom: .4em;
}
#logobox, #top_nav a, #sub_nav a {
  border: outset 1px;
}
#logobox {
  width: 160px;
  margin-right: .2em;
  padding: 1em 0;
  text-align: center;
  background-color: #303030;
}
#main_region {
}
#page_title {
  padding: .7em 2em .7em .7em;
  font-size: 300%;
  font-weight: bold;
}
#top_nav {
}
#top_nav a {
  display: inline;
  padding: .6em 1.2em;
  background-color: #800000;
  color: #ff9f9f;
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
}
#top_nav a.Selected {
  color: #ffffff;
}
#top_nav a:hover {
  background-color: #b00000;
}
#sub_nav {
  width: 160px;
}
#main_display {
  background: #ffdddd;
  border: inset 1px;
  height: 100%;
  vertical-align: top;
}
#local_menu a, #quick_menu a {
  display: block;  
  color: #ffffff;
  text-decoration: none;
  padding: .4em 1em ;
  text-align: right;
  font-size: 120%;
  text-align: right;
}
#quick_menu a {
  background-color: #600060;
  /* width: 100%; */
}
#quick_menu a:hover {
  background-color: #900090;
}
div.DisplaySpace {
  display: inline-block;
  font-size: 96%;
  padding: .2em 2em;
}
div.Overview div.DisplaySpace {
  font-size: 80%;
}
div.DisplaySpace.Hidden {
  display: none;
}
